.App {
  text-align: center;
}

.App-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.texteditor-container {
  padding: 10rem 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-container {
  display: flex;
  padding: 5rem 0;
  justify-content: center;
}

.submit-btn {
  margin: 1rem 0;
  padding: 0.7rem 2rem;
  background-color: #418dcb;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

.title-text {
  width: 100%;
  font-size: 18px;
  background-color: #efefef;
  border: none;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .App-container {
    grid-template-columns: 1fr;
    background-color: #d6ecf8;
  }

  .texteditor-container {
    padding: 5rem 2.5rem;
    order: 2;
  }

  .mobile-container {
    order: 1;
  }
}
