.App {
  text-align: center;
}

.App-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.texteditor-container {
  padding: 10rem 5rem;
  display: flex;
  justify-content: center;
}

.mobile-container {
  display: flex;
  padding: 5rem 0;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .App-container {
    grid-template-columns: 1fr;
  }

  .texteditor-container {
    padding: 5rem 2.5rem;
  }
}
